h1 { text-align: center;
font-style: italic;}
h2 { text-align: center;}

P { text-align: left;
    font-size: x-large;
   
margin: 80px;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.Chapter1 {
text-indent: 5%;
margin: 2%;
margin-left: 9%;
margin-right: 9%;
}



